PROTOFACE_API_KEY="PROTOFACE-API-KEY"
LIVEKIT_URL="wss://YOUR-LIVEKIT-PROJECT.livekit.cloud"
LIVEKIT_API_KEY="LIVEKIT-API-KEY"
LIVEKIT_API_SECRET="LIVEKIT-API-SECRET"

NEXT_PUBLIC_VAPI_API_KEY="VAPI-API-KEY"
NEXT_PUBLIC_VAPI_ASSISTANT_ID="VAPI-ASSISTANT-ID"
NEXT_PUBLIC_PROTOFACE_AVATAR_ID="av_stock_001"
